<a href="#" id="tabs-move-beginning">Mov3e active tab to the beginning of the window</a></br>
<a href="#" id="tabs-move-end">Move active tab to the end of the window</a></br>

<div class="panel-section-seperator"></div>

<a href="#" id="tabs-duplicate">Duplicate active tab</a></br>

<a href="#" id="tabs-reload">Reload active tab</a></br>
<a href="#" id="tabs-alertinfo">Alert active tab info</a></br>
